.app{
    display: flex;
}

.navbar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 310px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.navbar ul li a img {
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.navbar ul li a:hover,
.navbar ul li a.active{
    color: #0c7db1;
    background: white;
    border-right: 2px solid rgb(5, 68, 104);
}

.navbar ul li a:hover .icon,
.navbar ul li a.active .icon{
    color: #0c7db1;
}

.navbar ul li a:hover:before,
.navbar ul li a.active:before{
    display: block;
}
